<form action="" class="bootstrap-frm">
    <h1>Meeting Name Request Form 
    </h1>

    <label>
        <span>How many words?</span>
        <input type="text" id="len" value="10">
    </label>
    
    <label>
            <span>What Type of Meeting?</span>
      <input type="radio" name="buzzword-type" value="Computing" checked=true>Technical
      <input type="radio" name="buzzword-type" value="Banking and finance">Banking and Finance
      <input type="radio" name="buzzword-type" value="Business">Business
     </br>
      <input type="radio" name="buzzword-type" value="Marketing">Marketing
      <input type="radio" name="buzzword-type" value="E-commerce">E-commerce
      <input type="radio" name="buzzword-type" value="Management">Management
      </br>
       <input type="radio" name="buzzword-type" value="Business Ethics">Business Ethics

    </label>
    
     <label>
        <span>&nbsp;</span> 
        <input type="button" class="button" onclick="generate()" value="Send" /> 
    </label>    
</form>

<div>
<h1 id='title'></h1>
<h2 id='business-words'></h2>
</div>
<div id="footer">

<p> Your meeting name is brought to you via <a href="http://www.cs.bell-labs.com/cm/cs/pearls/sec153.html"> Markov Chains.</a> Find the source on <a href="https://github.com/andrewnguyen42/markovCoffee">Github.</a></p>
</div>
  <script>

    var term="Business"
    $("input:radio[name=buzzword-type]").click(function() {
       term=$(this).val()
    });

  	function generate(){
		len= $("#len").val();


		$.ajax({
			type:"GET",
			url:"/markov/conf?len="+len+"&term="+term,
			
			success:function(result){
    			$("#business-words").html(result);
    			$("#title").html("Your Meeting Name:");

 		 	},
 		 	error:function(xhr,status,error){
 		 		alert(error)
 		 	}


 		});

	}
  </script>



