<form action="" class="bootstrap-frm">
    <h1>Meeting Name Request Form 
    </h1>

    <label>
        <span>How many words?</span>
        <input type="text" id="len" value="10">
    </label>
    
    <label>
        <span>Grab a business phrase from Wikipedia</span>
       <input type="text" id="term" value="List of Buzzwords">
    </label>
    
     <!--<label>
        <span>Subject :</span><select name="selection">
        <option value="Job Inquiry">Job Inquiry</option>
        <option value="General Question">General Question</option>
        </select>
    </label> -->

     <label>
        <span>&nbsp;</span> 
        <input type="button" class="button" onclick="generate()" value="Send" /> 
    </label>    
</form>

<div>
<h1 id='title'></h1>
<h2 id='business-words'></h2>
</div>
<div id="footer">

<p> Your meeting name is brought to you via <a href="http://www.cs.bell-labs.com/cm/cs/pearls/sec153.html"> Markov Chains.</a> Find the source on <a href="https://github.com/andrewnguyen42/markovCoffee">Github.</a></p>
</div>
  <script>
  	function generate(){
		term = $("#term").val();
		len= $("#len").val();


		$.ajax({
			type:"GET",
			url:"/markov/generate?len="+len+"&term="+term,
			
			success:function(result){
    			$("#business-words").html(result);
    			$("#title").html("Your Meeting Name:");

 		 	},
 		 	error:function(xhr,status,error){
 		 		alert(error)
 		 	}


 		});

	}
  </script>



